$font-caveat:"Caveat",cursive;
$font-fira_mono: "Fira Mono",cursive;
$font-raleway: "Raleway",cursive;
$font-rubik: "Rubik",cursive;


$color-primary:#4E4E50;
$color-second:#1A1A1D;
$color-yellow:#C3073F;

/*
$color-primary:#003859;
$color-second:#00A5C4;
$color-yellow:#FFD289;
*/
